* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.layover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.6;
}

header .logo {
  text-align: center;
  cursor: pointer;
}

header .menu {
  display: flex;
  justify-content: center;
}

header .menu ul {
  display: flex;
  align-items: center;
}

header .menu ul li {
  padding: 10px;
  font-size: 27px;
  font-weight: 400;
}

header .menu ul li:hover {
  background-color: #b3e5fc;
}

header .menu ul li a {
  color: #001942;
}

.jumbotron {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.jumbotron.home {
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
}

.jumbotron.news {
  background-image: url(/images/solidarieta-top.jpg?f438e7d9155cc467e5f9f77e7bc7b32f);
}

.content_text {
  height: 70px;
  background-color: #001942;
}

.content_text h1 {
  text-align: center;
  line-height: 70px;
  color: white;
  font-weight: 300;
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

.container .card img {
  width: 100%;
}

.container .card span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  text-align: center;
  color: #001942;
  font-weight: 300;
}

.card:hover .layover,
.card:hover span {
  display: block;
}

.card:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

.news_box {
  padding: 20px;
}

.news_box .description {
  width: 70%;
  margin: 0 auto;
}

.news_box .description .title {
  font-weight: 300;
  border-bottom: 1px solid #001942;
}

.news_box .description p {
  padding: 20px 0;
  font-weight: 300;
  font-size: 21.6px;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #001942;
}

footer p {
  color: white;
  text-align: center;
  line-height: 70px;
  font-weight: 200;
}

