* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.layover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primaryBrand;
    opacity: 0.6;
}
.active {
    background-color: $hoverColor;
}